
/*Global*/

$theme-color-primary-lightest: "blue-warm-5";
$theme-color-primary: "blue-warm-60";
$theme-color-secondary: "blue-warm-5";
$theme-color-secondary-family: "blue";

$theme-grid-container-max-width:  'desktop-lg';
$theme-site-margins-breakpoint:   'desktop-lg';

$theme-footer-max-width:  "desktop-lg";
